<div class="container">
  <div class="justify-between">
    <%= link_to "â† Lists", lists_path %>
    <%= link_to "Edit", edit_list_path(@list) %>
  </div>

  <h2 class="text-center"><%= @list.name %></h2>

  <%= form_with(model: [@list, ListItem.new], local: true, html: { id: "list-item-form" }) do |f| %>
    <div class="field">
      <div class="flex-row">
        <%= f.text_field :name, class: "form-control" %>
        <%= f.submit "Add Item", class: "btn inline-btn" %>
      </div>
    </div>
  <% end %>


  <template id="list-item-template">
    <%= render partial: "list_items/show", locals: { template: true } %>
  </template>
  <div id="list-items" data-turbo-prefetch="false">
    <%= render partial: "list_items/index" %>
  </div>
</div>
