<div class="full-page">
  <canvas id="coord-map"></canvas>
</div>

<%#= modal_btn("Hi", :new_point, class: :btn) %>
<%= render_modal :new_point do %>
  <%= form_with(model: CoordPoint.new, local: true) do |f| %>
    <%= hidden_field_tag :id, nil %>
    <%= hidden_field_tag :connect_from_id, nil %>

    <div class="field">
      <%= label_tag :x %> </br>
      <%= text_field_tag :x, nil, class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag :y %> </br>
      <%= text_field_tag :y, nil, class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag :name %> </br>
      <%= text_field_tag :name, nil, class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag :shape %> </br>
      <%= select_tag :shape, options_for_select(CoordPoint.shapes.keys.map { |shape| [shape.to_s.humanize, shape] }), class: "form-control" %>
    </div>

    <div class="field">
      <%= label_tag :color %> </br>
      <%= color_field_tag :color, nil, class: "form-control" %>
    </div>

    <div class="actions justify-between">
      <%= link_to "Delete", "", class: "btn danger delete-coord", data: { turbo_prefetch: false } %>
      <span></span>
      <%= f.submit "Save", class: :btn %>
    </div>
  <% end %>
<% end %>
